<ion-content class="content">
  <div class="header"></div>
  <div class="fondo">
    <br>
    <div class="titulo">
      <h1 style="color: #ffffff">REGISTRAR NUEVO PRODUCTO</h1>
    </div>

    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Información básica</ng-template>
          <div class="flex">
            <div class="contenido">
              <mat-form-field floatLabel="always">
                <mat-label class="matLabel">Nombre del Local: </mat-label>
                <input
                  matInput
                  formControlName="nombreLocal"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="flex">
            <div class="contenido">
              <mat-form-field class="matFormField" floatLabel="always">
                <mat-label>Nombre del Producto</mat-label>
                <input matInput type="text" formControlName="nombre" />
              </mat-form-field>
            </div>
          </div>

          <div class="flex">
            <div class="contenido">
              <mat-form-field class="matFormField" floatLabel="always">
                <mat-label>Descripción del Producto</mat-label>
                <input matInput type="text" formControlName="descripcion" />
              </mat-form-field>
            </div>
          </div>

          <div class="flex">
            <div class="contenido">
              <mat-form-field class="matFormField" floatLabel="always">
                <mat-label>Precio</mat-label>
                <input matInput type="text" formControlName="precio" />
              </mat-form-field>
            </div>
          </div>

          <div class="flex">
            <div class="contenido">
              <mat-form-field class="matFormField" floatLabel="always">
                <mat-label>Tipo Producto</mat-label>
                <mat-select formControlName="tipo_producto">
                  <mat-option *ngFor="let option of lstTipProducto" [value]="option.id">
                    {{ option.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="buttonbox">
            <button mat-stroked-button matStepperNext class="botonSiguiente">Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Imagen</ng-template>
          <div class="flex">
            <div class="contenido">
              <label for="fileInput" class="custom-file-upload"
                >Seleccionar imagen:</label
              >
              <input
                id="fileInput"
                type="file"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
              <div class="imgprev">
                <img
                  *ngIf="selectedImage"
                  [src]="selectedImage"
                  alt="Imagen seleccionada"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="buttonbox">
          <button mat-stroked-button matStepperPrevious>Anterior</button>
          <button mat-stroked-button matStepperNext class="botonSiguiente1">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirmación</ng-template>
        <p style="color: black">
          ¿Está seguro de que desea enviar esta información?
        </p>
        <div class="buttonbox">
          <button mat-stroked-button matStepperPrevious>Anterior</button>
          <button mat-stroked-button class="botonAceptar" (click)="Agregar()">
            Agregar
          </button>
        </div>
      </mat-step>
    </mat-stepper>

    <div class="buttonbox">
      <ion-button class="bontonVolver" color="danger" (click)="goBack()"
        >Cancelar</ion-button
      >
    </div>
  </div>
</ion-content>
