<ion-content [class.fab-open]="fabOpen">
  <div class="content">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>
    <div style="width: 80%; margin: auto; margin-bottom: 35px; ">
      <ion-button
        expand="block"
        color="light"
        shape="round"
        style="padding-top: 30px"
        mat-raised-button
      >
        <ion-icon slot="start" name="search"></ion-icon>
        Comienza a buscar Productos!
      </ion-button>
    </div>

    <div class="fondo">
      <div class="titulo">
        <h1 style="color: #ffffff">LISTA DE PRODUCTOS</h1>
        <mat-divider style="background-color:rgba(255, 255, 255, 0.295); width: 50%; margin: auto;"></mat-divider>
        <button mat-icon-button class="rounded-button" [routerLink]="['/tabs-admin/lista-locales']" style="background-color: #ffffff;">
          <mat-icon class="IrDetalle" style="color: black;">keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <div class="card">
        <mat-card *ngFor="let item of lstProductos" style="margin-bottom: 10px">
          <div style="display: flex; align-items: stretch">
            <button (click)="openConfirmationDialog(item, $event)">
              <ion-icon id="btnEliminar" name="trash" *ngIf="showDeleteButtons" style="color: #ffffff;">Eliminar</ion-icon>
            </button>
            <div>
              <mat-card-header class="card-img">
                <img class="img" [src]="item.imagen" />
              </mat-card-header>
              <div class="infoLocal">
                <mat-card-content class="content-container">
                  <div class="content-left">
                    <mat-card-title style="color: black">
                      {{ getLocalName(item.local )}}
                    </mat-card-title>
                   
                    <h4 style="color: black">
                      Nombre del producto: {{ item.nombre }}
                    </h4>
                    <h4 style="color: black">
                      Tipo Producto: {{ getTipoProductoName(item.tipo_producto
                      )}}
                    </h4>
                  
                    
                    <h4 style="color: black">
                      Descripcion: {{item.descripcion}}
                    </h4>
                    <mat-card-subtitle>
                      <h1>${{item.precio | number}}</h1>
                    </mat-card-subtitle>
                  </div>
                  <div class="content-right">
                    <div class="divider"></div>
                    <button
                      mat-icon-button
                      class="rounded-button"
                      (click)="detalle(item)"
                    >
                      <mat-icon class="IrDetalle"
                        >keyboard_arrow_right</mat-icon
                      >
                    </button>
                  </div>
                </mat-card-content>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- FAB -->
  <div class="app-backdrop" [class.show]="fabOpen"></div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start" (click)="toggleFab()">
    <ion-fab-button color="tertiary">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" [class.fab-list-open]="fabOpen">
      <ion-fab-button color="tertiary" (click)="goAgregarProducto()" data-desc="Agregar Producto" style="margin-top: 10px;">
        <ion-icon name="add" color="light" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="toggleAllDeleteButtons()" data-desc="Eliminar Producto" style="margin-top: 10px;">
        <ion-icon name="trash" color="light" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
