<ion-content [class.fab-open]="fabOpen">
  <div class="content">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>
    <div style="width: 80%; margin: auto; margin-bottom: 30px">
      <ion-button
        expand="block"
        color="light"
        shape="round"
        style="padding-top: 30px"
        mat-raised-button
      >
        <ion-icon slot="start" name="search"></ion-icon>
        Comienza a buscar Usuarios!
      </ion-button>
    </div>

    <div class="fondo">
      <div class="titulo">
        <h1 style="color: #ffffff">LISTA DE USUARIOS</h1>
      </div>

      <div class="card">
        <mat-card *ngFor="let item of lstUsuarios" style="margin-bottom: 10px">
          <div style="display: flex; align-items: stretch">
            <button (click)="openConfirmationDialog(item, $event)">
              <ion-icon id="btnEliminar" name="trash" *ngIf="showDeleteButtons" style="color:#ffffff">Eliminar</ion-icon>
            </button>
            <div class="info">
              <mat-card-content class="content-container">
                <div class="content-left">
                  <mat-card-header>
                    <mat-card-title style="color: black">
                      {{item.usuario}}
                    </mat-card-title>
                  </mat-card-header>
                  <p class="descripcion">Correo: {{item.correo}}</p>
                  <mat-card-subtitle style="color: black" style="text-align: justify">
                    {{ getPerfilNameById(item.perfil) }}
                  </mat-card-subtitle>
                </div>
                <div class="content-right">
                  <div class="divider"></div>
                  <button
                    mat-icon-button
                    class="rounded-button"
                    (click)="detalle(item)">
                    <mat-icon class="IrDetalle()" style="color: white;">keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- FAB -->
  <div class="app-backdrop" [class.show]="fabOpen"></div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start" (click)="toggleFab()">
    <ion-fab-button color="tertiary">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" [class.fab-list-open]="fabOpen">
      <ion-fab-button color="tertiary" (click)="goAgregarUser()" data-desc="Agregar Usuario" style="margin-top: 10px;">
        <ion-icon name="add" color="light"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="toggleAllDeleteButtons()" data-desc="Eliminar Usuario" style="margin-top: 10px;">
        <ion-icon name="trash" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
