.center{
    display: flex; 
    justify-content: center;
    margin-top: 70px;
}

.center-txt{
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}