<ion-content>
  <div class="content">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
      <ion-button fill="clear" style="width: 70px; height: 70px; " (click)="backBtn()">
        <ion-icon name="arrow-back" color="light"  style="width: 100%; height: 100%;"></ion-icon>
      </ion-button>
    </div>
    <br />

    <div class="fondo">

      <h2 class="titulo" style="color: white;">Mis Locales Favoritos:</h2>
      <div *ngIf="localesFiltrados.data.length == 0" style="padding: 20%; background-color: white; border-radius: 15px;">
        <h1 class="titulo">No tienes locales favoritos...</h1>
        <h1 class="titulo">Comienza a añadir!</h1>
      </div>
      <div *ngIf="localesFiltrados.data.length > 0">
        <table mat-table [dataSource]="localesFiltrados" matSort class="mat-elevation-z8 custom-table">
          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let item">
              <div *ngFor="let imagen of item.imagenes">
                <div *ngIf="imagen.principal">
                  <img [src]="imagen.imagen" style="width: 100px; height: auto;">
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
          </ng-container>
      
          <ng-container matColumnDef="navegar">
            <th mat-header-cell *matHeaderCellDef> Ir </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button (click)="marcarRuta(item)">
                <mat-icon style="color:rgb(17, 16, 16);">near_me</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="quitar favorito">
            <th mat-header-cell *matHeaderCellDef> Quitar favorito </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button (click)="eliminar(item)">
                <mat-icon style="color: rgb(235, 0, 0);">favorite</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="columnasDesplegadas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasDesplegadas;"></tr>
        </table>
      </div>
    </div>
  </div>
</ion-content>
